@import url('https://fonts.googleapis.com/css2?family=AG+Link:wght@200..800&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-box: trim-both cap alphabetic;
    font-family: 'AG Link', sans-serif;
    font-display: swap;
}

body {
    background-color: #0C0C0C;
}

svg {
    background: transparent !important;
}